In [1]:
import pandas as pd
import numpy as np

In [24]:
from detect_delimiter import detect
import pandas as pd

filename = "diamonds.csv"
with open(filename) as f:
    firstline = f.readline()
    delimiter = detect(firstline)

records = pd.read_csv(filename, sep = delimiter)

In [26]:
delimiter

','

In [2]:
df = pd.read_csv('diamonds.csv',delimiter=',')
df

       carat        cut color clarity  depth  table  price     x     y     z
0       0.23      Ideal     E     SI2   61.5   55.0    326  3.95  3.98  2.43
1       0.21    Premium     E     SI1   59.8   61.0    326  3.89  3.84  2.31
2       0.23       Good     E     VS1   56.9   65.0    327  4.05  4.07  2.31
3       0.29    Premium     I     VS2   62.4   58.0    334  4.20  4.23  2.63
4       0.31       Good     J     SI2   63.3   58.0    335  4.34  4.35  2.75
...      ...        ...   ...     ...    ...    ...    ...   ...   ...   ...
53935   0.72      Ideal     D     SI1   60.8   57.0   2757  5.75  5.76  3.50
53936   0.72       Good     D     SI1   63.1   55.0   2757  5.69  5.75  3.61
53937   0.70  Very Good     D     SI1   62.8   60.0   2757  5.66  5.68  3.56
53938   0.86    Premium     H     SI2   61.0   58.0   2757  6.15  6.12  3.74
53939   0.75      Ideal     D     SI2   62.2   55.0   2757  5.83  5.87  3.64

[53940 rows x 10 columns]

In [3]:
df['depth'].describe()

count    53940.000000
mean        61.749405
std          1.432621
min         43.000000
25%         61.000000
50%         61.800000
75%         62.500000
max         79.000000
Name: depth, dtype: float64

In [4]:
df['depth'].max()

79.0

In [5]:
df['depth'].min()

43.0

In [6]:
df['depth'].mean()

61.749404894327036

In [7]:
df['cut'].unique()

array(['Ideal', 'Premium', 'Good', 'Very Good', 'Fair'], dtype=object)

In [8]:
#DataFrame.groupby(by=None, axis=_NoDefault.no_default, level=None, as_index=True, sort=True, group_keys=True, observed=_NoDefault.no_default, dropna=True)

grouped_df = df.groupby('cut')['carat'].count().reset_index(name='Number of Diamonds')
#df.groupby(by=df['cut']).count()
# Assuming df is your DataFrame and 'cut' and 'some_column' are column names
grouped_df

         cut  Number of Diamonds
0       Fair                1610
1       Good                4906
2      Ideal               21551
3    Premium               13791
4  Very Good               12082

In [12]:
df2 = df[df.duplicated()]
df2

       carat    cut color clarity  depth  table  price     x     y     z
1005    0.79  Ideal     G     SI1   62.3   57.0   2898  5.90  5.85  3.66
1006    0.79  Ideal     G     SI1   62.3   57.0   2898  5.90  5.85  3.66
1007    0.79  Ideal     G     SI1   62.3   57.0   2898  5.90  5.85  3.66
1008    0.79  Ideal     G     SI1   62.3   57.0   2898  5.90  5.85  3.66
2025    1.52   Good     E      I1   57.3   58.0   3105  7.53  7.42  4.28
...      ...    ...   ...     ...    ...    ...    ...   ...   ...   ...
47969   0.52  Ideal     D     VS2   61.8   55.0   1919  5.19  5.16  3.20
49326   0.51  Ideal     F    VVS2   61.2   56.0   2093  5.17  5.19  3.17
49557   0.71   Good     F     SI2   64.1   60.0   2130  0.00  0.00  0.00
50079   0.51  Ideal     F    VVS2   61.2   56.0   2203  5.19  5.17  3.17
52861   0.50   Fair     E     VS2   79.0   73.0   2579  5.21  5.18  4.09

[146 rows x 10 columns]

In [14]:
df.drop(columns=['x', 'y','z'], inplace=True)
df

       carat        cut color clarity  depth  table  price
0       0.23      Ideal     E     SI2   61.5   55.0    326
1       0.21    Premium     E     SI1   59.8   61.0    326
2       0.23       Good     E     VS1   56.9   65.0    327
3       0.29    Premium     I     VS2   62.4   58.0    334
4       0.31       Good     J     SI2   63.3   58.0    335
...      ...        ...   ...     ...    ...    ...    ...
53935   0.72      Ideal     D     SI1   60.8   57.0   2757
53936   0.72       Good     D     SI1   63.1   55.0   2757
53937   0.70  Very Good     D     SI1   62.8   60.0   2757
53938   0.86    Premium     H     SI2   61.0   58.0   2757
53939   0.75      Ideal     D     SI2   62.2   55.0   2757

[53940 rows x 7 columns]

In [17]:
df[(df['cut']=='Very Good') | (df['cut']=='Fair')]

       carat        cut color clarity  depth  table  price
5       0.24  Very Good     J    VVS2   62.8   57.0    336
6       0.24  Very Good     I    VVS1   62.3   57.0    336
7       0.26  Very Good     H     SI1   61.9   55.0    337
8       0.22       Fair     E     VS2   65.1   61.0    337
9       0.23  Very Good     H     VS1   59.4   61.0    338
...      ...        ...   ...     ...    ...    ...    ...
53921   0.70  Very Good     E     VS2   62.8   60.0   2755
53922   0.70  Very Good     D     VS1   63.1   59.0   2755
53932   0.70  Very Good     E     VS2   60.5   59.0   2757
53933   0.70  Very Good     E     VS2   61.2   59.0   2757
53937   0.70  Very Good     D     SI1   62.8   60.0   2757

[13692 rows x 7 columns]